body{
    background-color: #1B1E2F;
    margin: 0;
}
nav{
    background-color: #2E3140;
    overflow: hidden;
    a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    a:hover{
        background-color: #F2884B;
        color: #1B1E2F;
    }
    .logout{
        float: right;
        background-color: #F2884B;
        color: #1B1E2F;
    }
    .logout:hover{
        background-color: #F25757;
        color: #FCFFF8;
    }
}
.hero{
    background-color: #FECDA8;
    padding: 260px;
    text-align: center;
    color: #1B1E2F;
    a{
        background-color: #F2884B;
        padding: 8px;
        border-radius: 10px;
        text-decoration: none;
        color: #FCFFF8;
    }
    a:hover{
        background-color: #444359;
        color: #FCFFF8;
    }
}
